@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.form_submit {
  border: 1px solid var(--primary);
  padding: 3px;
  border-radius: 20px;
  color: var(--primary);
  font-family: "Quicksand", sans-serif;
}

.form_submit:hover {
  background-color: var(--primary);
  padding: 3px;
  border-radius: 20px;
  color: var(--accent);
  filter: drop-shadow(0px 0px 6px var(--icon-hover));
}

.homeBar-shadow {
  box-shadow: inset 0px -11px 12px -10px var(--primary);
}

.password_lock {
  fill: var(--icon-hover);
  margin-left: 10px;
  opacity: 0.7;
}

.password_lock:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 6px var(--icon-hover));
  opacity: 1;
  fill: var(--icon-hover);
  cursor: pointer;
}

.icon {
  fill: var(--icon);
  transform: scale(2);
  transition: all 0.2s;
}

.input_design {
  background-color: transparent;
  text-align: center;
  color: var(--primary);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--primary);
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  max-width: 30rem;
}

.input_design:focus {
  border: 2px solid var(--primary);
  outline: transparent;
  border-radius: 20px;
  transition: 0.2s;
}

.input_design::placeholder {
  text-align: center;
  color: var(--primary);
  text-shadow: 0px 0px 3px var(--primary);
}

.login_icon {
  filter: drop-shadow(0px 0px 6px var(--icon-hover));
  fill: var(--icon-hover);
  transform: scale(2);
}

.icon:hover {
  filter: drop-shadow(0px 0px 6px var(--icon-hover));
  fill: var(--icon-hover);
  cursor: pointer;
  transform: translate(0, -10px) scale(3);
  transition: all 0.2s;
}

.transition-circle {
  position: fixed;
  height: 1rem;
  width: 1rem;
  animation-name: expand;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transform: translate(0, 90px);
}

@keyframes expand {
  0% {
    position: fixed;
  }

  100% {
    position: fixed;
    transform: scale(200);
    opacity: 0;
  }
}
